{{ template "layout" }}

{{ define "scripts" }}
<script src="assets/js/index.js"></script>
{{ end }}

{{ define "content" }}
<nav class="demo">
  <a href="#" class="brand">
    <h1>🦋 Szmaterlok</h1>
  </a>
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">
    <i class="bi bi-list"></i> Menu
  </label>
  <form class="menu" action="/logout" method="POST">
    <a href="https://github.com/fenole/szmaterlok" class="button pseudo">
      <i class="bi bi-github"></i> Source
    </a>
    <button href="#" class="button error">
      <i class="bi bi-box-arrow-in-left"></i> Logout
    </button>
  </form>
</nav>

<main>
  <section class="flex five" x-data="{ showUsers: true }">

    <aside class="full fifth-1000" x-show="showUsers">
      <h2 class="pseudo button" @click="showUsers = !showUsers">
        <i class="bi bi-people"></i> Users
      </h2>
      <button class="pseudo">Annie</button>
      <button class="pseudo">Eren</button>
      <button class="pseudo">Mikasa</button>
      <button class="pseudo">Armin</button>
    </aside>

    <article class="full" :class="showUsers && 'four-fifth-1000'">
      <button x-show="!showUsers" class="pseudo button" @click="showUsers = !showUsers">
        <i class="bi bi-people"></i> Users
      </button>

      <h2 class="pseudo button"><i class="bi bi-chat"></i> Messages</h2>
      <section class="card"
               x-data="{
                messages: [],

                formatDate(sentAt) {
                  return new Date(sentAt).toLocaleTimeString('en-gb', {});
                },
                receive(msg) {
                  if (this.messages.length === 0) {
                    this.messages.push({
                      id: msg.id,
                      from: msg.from,
                      block: [msg],
                    });
                    return;
                  }

                  let last = this.messages[this.messages.length - 1];
                  if (last.from.id === msg.from.id) {
                    last.block.push(msg);
                    return;
                  }

                  this.messages.push({
                    from: msg.from,
                    id: msg.id,
                    block: [msg],
                  });
                }
               }"
               @sse:message-sent.document="receive($event.detail.data);
                                           $nextTick(() => $refs.chat.scroll({
                                             top: $refs.chat.scrollHeight,
                                             behavior: 'smooth'
                                           }));">
        <header class="messages scroll" x-ref="chat">
          <template x-for="block in messages" :key="block.id">
            <article class="card">
              <header>
                <p x-text="block.from.nickname"></p>
                <a class="close" @click="messages = messages.filter((b) => b.id != block.id)">×</a>
              </header>
              <footer>
                <template x-for="msg in block.block" :key="msg.id">
                  <p>
                    <span class="label success date" x-text="formatDate(msg.sentAt)"></span>
                    <span x-text="msg.content"></span>
                  </p>
                </template>
              </footer>
            </article>
          </template>
        </header>
        <footer x-data="{
            newMessage: '',

            send() {
              s8k.api.sendMessage(this.newMessage);
              this.newMessage = '';
            }
          }">
          <form @submit.prevent="send">
            <input class="stack" type="text" x-model="newMessage" placeholder="Enter your message..." autofocus>
            <button class="stack" type="submit" x-bind:disabled='newMessage.length <= 0'>
              <i class="bi bi-send-fill"></i> Send
            </button>
          </form>
        </footer>
      </section>
    </article>
  </section>
</main>
{{ end }}
