{{ template "layout" }}

{{ define "scripts" }}
<script src="assets/js/index.js"></script>
{{ end }}

{{ define "content" }}
<nav class="demo">
  <a href="#" class="brand">
    <h1>Szmaterlok</h1>
  </a>
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">Menu</label>
  <form class="menu" action="/logout" method="POST">
    <a href="https://github.com/fenole/szmaterlok" class="button pseudo">Source</a>
    <button href="#" class="button error">Logout</button>
  </form>
</nav>

<main>
  <section class="flex five">

    <aside class="full fifth-1000">
      <h2>Users</h2>
      <button class="pseudo">Annie</button>
      <button class="pseudo">Eren</button>
      <button class="pseudo">Mikasa</button>
      <button class="pseudo">Armin</button>
    </aside>

    <article class="full four-fifth-1000">
      <h2>Messages</h2>
      <section class="card"
               x-data="messages"
               @sse:message-sent.document="messages.push($event.detail.data);
                                           $nextTick(() => $refs.chat.scroll({
                                             top: $refs.chat.scrollHeight,
                                             behavior: 'smooth'
                                           }));">
        <header class="messages scroll" x-ref="chat">
          <template x-for="msg in messages" :key="msg.id">
            <article class="card">
              <header>
                <p x-text="msg.from.nickname"></p>
                <a class="close">×</a>
              </header>
              <footer>
                <p><span class="label success date" x-text="formatDate(msg.sentAt)"></span><span x-text="msg.content"></span></p>
              </footer>
            </article>
          </template>
        </header>
        <footer x-data="messageInput">
          <form @submit.prevent="send">
            <input class="stack" type="text" x-model="newMessage" placeholder="Enter your message..." autofocus>
            <input class="stack" type="submit" value="Send">
          </form>
        </footer>
      </section>
    </article>
  </section>
</main>
{{ end }}
